<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог книг</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="nav-container">
        <%- include('./partials/nav.ejs')%>
    </header>

    <div class="container">
        <h1 class="title">Каталог</h1>
        <div class="books">
            <% if (books.length) { %>
                <% books.forEach(({title, author, description, time}) => {%>
                    <div class="book">
                        <div class="main-info">
                            <a href="#" class="book-title"><%= title%></a>
                            <p class="time"><%= time%></p>
                        </div>
                        <p class="book-author"><%= author%></p>
                        <p class="book-description"><%= description%></p>
        
                        <hr align="center" width="100%" size="3" color="#129f1e">
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
</body>
</html>