<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книгарня | <%= book.title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="nav-container">
        <%- include('./partials/nav.ejs')%>
    </header>

    <div class="container">
        <div class="books-page">
            <h1 class="title"><%= book.title%></h1>
            <div class="book">
                <p class="book-title"><%= book.title%></p>
                <p class="book-author"><%= book.author%></p>
                <p class="book-description"><%= book.description%></p>
                <div class="btns-control">
                    <button id="book-edit" class="btn-control">Редагувати</button>
                    <button id="book-delete" class="btn-control" data-id="<%= book._id%>">Видалити</button>
                </div>

                <hr align="center" width="100%" size="3" color="#129f1e">
            </div>
        </div>
    </div>


    <script>
        document.addEventListener('click', (event) => {
            const id = event.target.dataset.id || null
            if(id) {
                fetch(`/books/${id}`, {
                    method: 'DELETE',
                }).then(() => {
                    window.location.href = '/books'
                })
            }
        })
    </script>
</body>
</html>